Checks: >
  clang-diagnostic-*,
  -clang-diagnostic-unused-command-line-argument,
  clang-analyzer-*,
  bugprone-*,
  -bugprone-exception-escape,
  -bugprone-throwing-static-initialization,
  performance-*,
  portability-*,
  google-*,
  -bugprone-easily-swappable-parameters,
  -google-build-using-namespace,
  -google-readability-todo,
  -google-runtime-references,
  -performance-enum-size,
  -portability-avoid-pragma-once
WarningsAsErrors: '*'
HeaderFilterRegex: '^(common/protocol)[/\\].*'
FormatStyle: file
